.footer {
  background-color: #222324;
  color: #fff;
  padding: 30px 0;

  &__contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 15px;
  }



  &__item {
    margin-bottom: 10px;
  }

  &__logo {
    width: 50px;
    height: 50px;
  }
}

@media(max-width:476px) {
  .footer {
    &__contacts {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__logo {
      order: -1;
      width: 50px;
      height: 50px;
    }
  }


}